@model FacilComercio.Models.Loja

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Loja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loj_Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loj_Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loj_Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loj_Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loj_ContatoEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loj_ContatoEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loj_Criado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loj_Criado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loj_AtualizadoEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loj_AtualizadoEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa.CNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCriador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCriador.Usu_Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Loj_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
