@model IEnumerable<FacilComercio.Models.EstoqueBaixoViewModel>

@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fácil Comércio - Dashboard</title>
    <!-- CSS do Bootstrap e do Template -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        /* Cor personalizada para o tema */
        .bg-primary, .btn-primary {
            background-color: #b6d3cd !important;
        }

        .text-primary {
            color: #b6d3cd !important;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        .text-danger td {
            color: red;
        }

        th, td {
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
    </style>
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        @Html.Partial("_Sidebar")

        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Navbar -->
                @Html.Partial("_Nav")


                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    @* <p>O usuário é @ViewBag.idUsuario</p>
                    <p>Nome do usuário: @ViewBag.nomeUsuario</p>
                    <p>Permissão: @ViewBag.Permissao</p> *@

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="javascript:void(0);" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> Gerar Relatório Geral
                        </a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Widgets do Dashboard -->
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Vendas Hoje</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 0,00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Vendas Mês</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 0,00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">QTD Estoque Baixo</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TotalEstoqueBaixo</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total de Produtos</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TotalProdutos</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row 1 -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-lg-6 mb-6">
                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Últimas Vendas</h6>
                                </div>
                                <div class="card-body">
                                    <!-- Tabela de ültimas Vendas -->
                                    <div id="ultimasVendas" class="mt-4">

                                        <table>
                                            <tr>
                                                <th>Cliente</th>
                                                <th>Valor</th>
                                                <th>Forma Pagamento</th>
                                            </tr>
                                            <tr>
                                                <td>João Silva</td>
                                                <td>50,00</td>
                                                <td>Dinheiro</td>
                                            </tr>
                                            <tr>
                                                <td>Maria Oliveira</td>
                                                <td>30,00</td>
                                                <td>Cartão de Crédito</td>
                                            </tr>
                                            <tr>
                                                <td>José Santos</td>
                                                <td>40,00</td>
                                                <td>Pix</td>
                                            </tr>
                                            <tr>
                                                <td>Ana Costa</td>
                                                <td>25,00</td>
                                                <td>Cartão de Débito</td>
                                            </tr>
                                            <tr>
                                                <td>Pedro Lima</td>
                                                <td>60,00</td>
                                                <td>Dinheiro</td>
                                            </tr>
                                            <tr>
                                                <td>Carla Sousa</td>
                                                <td>70,00</td>
                                                <td>Cartão de Crédito</td>
                                            </tr>
                                            <tr>
                                                <td>Fernando Dias</td>
                                                <td>15,00</td>
                                                <td>Pix</td>
                                            </tr>
                                            <tr>
                                                <td>Sara Alves</td>
                                                <td>20,00</td>
                                                <td>Dinheiro</td>
                                            </tr>
                                            <tr>
                                                <td>Luiz Rocha</td>
                                                <td>35,00</td>
                                                <td>Cartão de Débito</td>
                                            </tr>
                                            <tr>
                                                <td>Paula Mendes</td>
                                                <td>45,00</td>
                                                <td>Pix</td>
                                            </tr>
                                        </table>

                                        <div class="text-center mt-3">
                                            <a href="#" class="text-primary">Ver todos</a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <!-- Pie Chart -->
                        <div class="col-lg-6 mb-6">
                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Alerta de Estoque</h6>
                                </div>
                                <div class="card-body">
                                    <!-- Tabela de Estoque Mínimo -->
                                    <div id="estoqueMinimo" class="mt-4">

                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Produto</th>
                                                    <th>Estoque Atual</th>
                                                    <th>Estoque Mínimo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Any())
                                                {
                                                    foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>@item.Prod_Nome</td>
                                                            <td>@item.Prod_Estoque</td>
                                                            <td>@item.Prod_EstoqueMinimo</td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="3" class="text-center">Nenhum produto com estoque baixo.</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                        <div class="text-center mt-3">
                                            <a href="#" class="text-primary">Ver todos</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Content Row 2 -->
                    <div class="row">
                        <div class="col-lg-12 mb-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Usuários da Loja</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th>E-mail</th>
                                                    <th>Telefone</th>
                                                    <th>CPF</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.Usuarios != null && ViewBag.Usuarios.Count > 0)
                                                {
                                                    foreach (var usuario in ViewBag.Usuarios)
                                                    {
                                                        <tr class="@(usuario.Usu_Status ? "" : "text-danger")">
                                                            <td>@usuario.Usu_Nome</td>
                                                            <td>@usuario.Usu_Email</td>
                                                            <td>@usuario.Usu_Telefone</td>
                                                            <td>@usuario.Usu_CPF</td>
                                                            <td>
                                                                <button class="btn btn-sm @((usuario.Usu_Status ? "btn-success" : "btn-danger"))"
                                                                        onclick="toggleStatus(@usuario.Usu_Id, @usuario.Usu_Status.ToString().ToLower())">
                                                                    @if (usuario.Usu_Status)
                                                                    {
                                                                        <span>Ativo</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span>Inativo</span>
                                                                    }
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="5" class="text-center">Nenhum usuário encontrado.</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            @Html.Partial("_Footer")
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/jquery/jquery.min.js"></script>


    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>


    <script>
        function toggleStatus(usuarioId, currentStatus) {
            //const newStatus = currentStatus === "true"; // Converte "true"/"false" para booleano
            const newStatus = !currentStatus; // Inverta o status atual

            // Chama o método no backend para alterar o status
            fetch(`/Usuarios/ToggleStatus?usuarioId=${usuarioId}&status=${newStatus}`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' }
            })
                .then(response => {
                    if (response.ok) {
                        // Atualiza a página ou exibe mensagem de sucesso
                        alert('Status atualizado com sucesso!');
                        location.reload(); // Atualiza a página
                    } else {
                        return response.text().then(err => { throw new Error(err); });
                        alert('Erro ao atualizar o status.');
                    }
                })
                .catch(error => {
                    console.error('Erro:', error.message);
                    alert(`Erro ao atualizar o status: ${error.message}`);
                });
        }

    </script>

</body>

</html>